.home-container {
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
  }
  
  .home-header {
    text-align: center;
  }
  
  .home-header h1 {
    font-size: 24px;
    color: #343a40;
  }
  
  .home-header p {
    font-size: 16px;
    color: #6c757d;
  }
  