node_modules/
dist/
build/
.expo/
.DS_Store
.env
web-build/
expo-env.d.ts

*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

.metro-health-check*

npm-debug.*
yarn-debug.*
yarn-error.*

*.pem
.env*.local
*.tsbuildinfo

app-example
